* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
  }
.main-container {
  text-align: center;
  margin: auto 0;
}
  .heading-style {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 66, 66);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  mat-form-field  {
      width: 300px;
  }
  mat-label {
    color: gray;
  }
  input .ng-invalid {
    border: red;
  }
  button {
    width: 200px;
    margin-top: 50px;
  }
  .reset{
    margin-right: 20px;
  }
  .reset:hover {
    transform: scale(1.2);
  }
  .reset:active {
    transform: scale(0.7);
  }
  .form {
    display: inline-block;
    width: 500px;
    height: 400px;
    background-color: honeydew;
    text-align: center;
    margin: auto 0;
    margin-top: 50px;
  }