<div class="main-container">
    <form (ngSubmit)="onForgetPass(forgetForm)" #forgetForm="ngForm" class="form">
        <h1 class="heading-style">Forget Password</h1>
        <p>Enter registered email to get change password link.</p>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" id="f-email" name="f-email" class="form-control" ngModel required>
            <mat-icon matPrefix style="width: 1.5em;">email</mat-icon>
          </mat-form-field>
          <br/>
          <button mat-raised-button color="primary" type="submit" class="reset" [disabled]="!forgetForm.valid">Send Email</button>
          <button mat-raised-button color="accent" type="button" class="reset" routerLink="/login">Back</button>
    </form>
    </div>
    
