.card-style {
    width: 40%;
    height: 800px;
    padding: 10px;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    border: 1px;
    border-style: groove;
    text-align: center;

}
.button-style {
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    justify-content: space-evenly;
}
/* .card-class {
    width: 850px;
    height: 800px;
    padding: 10px;
    right: 0;
    overflow-x: hidden;
    position: fixed;
} */

.carousel-wrapper {
    border-radius: 1px;
    color: black;
    width: 60%;
    height: 500px;
    padding: 20px;
    right: 0;
    position: fixed;
    overflow-y: scroll;
  }

  h2 {
      font-family: 'Times New Roman', Times, serif;
      color: black;
  }

  h3 {
    font-family: 'Times New Roman', Times, serif;
    color: gray;
  }
  s {
      color: grey;
  }

  .icon-style {
    margin-top: 10px;
    position:absolute;
    top:0;
    right:10px;
  }
 .stars-container {
    justify-content: center;
     display: flex;
     align-items: center;
 }
 label {
     color: gray;
     font-family: 'Times New Roman', Times, serif;
     font-size: 1em;
 }
 mat-list-item {
    font-family: 'Times New Roman', Times, serif;
 }
 .discount-val {
     position: fixed;
     width: 200px; 
     height: 200px;
     display: flex;
     justify-content: space-between;

 }
.up {
    position: fixed;
    height: 50px;

}
.down {
    position: relative;
    margin-top: 100px;
}
button:active {
    border-color: red;
}
/* .text-style{
    white-space: nowrap;
    width: 500px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-style::after {
    overflow: visible;
}
   */